In [2]:
import pandas as pd
import numpy as np

In [11]:
sleep_df = pd.read_csv('/Users/guisales/RS4-GUI/time_series/cut_001_2024-12-10_02-00.csv')
sleep_df['HEART_RATE(bpm)'].replace(0.0, np.nan, inplace=True)
sleep_df.dropna(subset=['HEART_RATE(bpm)'], inplace=True)
sleep_df['date'] = pd.to_datetime(sleep_df['date'])
sleep_df.set_index('date', inplace=True)
sleep_df = sleep_df.resample('0.05s').mean()
sleep_df.interpolate(method='linear', inplace=True)
sleep_df.dropna(inplace=True)
sleep_df.reset_index(inplace=True)
sleep_df = sleep_df[['ACC_X(m/s^2)', 'ACC_Y', 'ACC_Z', 'HEART_RATE(bpm)']]
sleep_df['acc'] = np.linalg.norm(sleep_df[['ACC_X(m/s^2)', 'ACC_Y', 'ACC_Z']].values, axis=1)

/var/folders/jq/v7bqsk910plftk20fml8jw4w0000gn/T/ipykernel_73654/970596180.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sleep_df['HEART_RATE(bpm)'].replace(0.0, np.nan, inplace=True)

In [12]:
sleep_df

       ACC_X(m/s^2)      ACC_Y     ACC_Z  HEART_RATE(bpm)        acc
0          5.668512  -6.034346 -2.025016             98.0   8.523265
1          3.663607 -11.972924 -2.979345            102.0  12.870486
2          1.769315  -9.643845 -4.035666            102.0  10.602868
3          1.447055 -13.002431 -5.672822            102.0  14.259666
4          1.491588  -9.078334 -6.496906            102.0  11.262805
...             ...        ...       ...              ...        ...
14130     -0.486981  -0.516190  9.879434             94.0   9.904888
14131     -0.672771  -0.308852  9.063490             94.0   9.093671
14132     -0.040223  -0.118274  9.646239             94.0   9.647048
14133     -0.203986  -0.339019  9.844479             94.0   9.852426
14134     -0.774125  -0.603339  9.955889             94.0  10.004150

[14135 rows x 5 columns]

In [13]:
acc = sleep_df['acc'].values
hr = sleep_df['HEART_RATE(bpm)'].values

In [15]:
with open('/Users/guisales/RS4-GUI/time_series/bpm_001_2024-12-10_02-00.csv.txt', 'w') as f:
    array_str = ','.join([str(val) for val in hr])
    f.write(array_str)